﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">Witaj w bazie filmowej</h1>
    <p><b>Projekt wykonał Grzegorz Sperzyński</b></p>
</div>
